<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Reset your password</p>
        <mat-input-container class="full-width-input">
          <input matInput placeholder="Email Id" 
                 formControlName="email" required>
          <mat-error *ngIf="isFieldInvalid('email')">
            Please enter a valid email id
          </mat-error>
        </mat-input-container>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Send password reset email</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>