<header>
    <mat-toolbar color="primary">
        <span routerLink="/home">Small Web Tools</span>
        <!-- <span class="example-spacer"></span>
        <button mat-icon-button matTooltip="Menu" [matMenuTriggerFor]="appMenu">
            <mat-icon>menu</mat-icon>
        </button> -->
    </mat-toolbar>
    <!-- <mat-menu #appMenu>
        <button mat-menu-item routerLink="/image-to-base64-encoding-web-tool" routerLinkActive="active"> Events </button>
        <button mat-menu-item routerLink="/members" routerLinkActive="active"> Members </button>
        <button mat-menu-item *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active"> Login </button>
        <button mat-menu-item *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active"> Register </button>
        <button mat-menu-item *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()"> Logout </button>
    </mat-menu> -->
</header>