.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #212121;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
}
.featureButton{
  color: white;
  font-weight: bold;
  background: tomato;
  padding: 10px 14px;
  position: relative;
  top: -10px;
  border: none;
  border-radius: 5px;
}
a.active.logo {
  font-family: 'Chela One', cursive;
  padding: 12px 0px;
  font-size: 2em;
}
.topnav a:not(:first-child) {
float: right;
font-size: 1em;
}
.topnav a:hover {
  color: black;
}

.active {
  color: blue;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
