<!-- <app-under-construction></app-under-construction> -->
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <textarea #stringInput matInput (keyup)="generatePassword(stringInput.value, numOfChars.value)" placeholder="Enter characters to be used for your Password"></textarea>
        <br>
        <mat-form-field>
            <input matInput #numOfChars (keyup)="generatePassword(stringInput.value, numOfChars.value)" placeholder="Number of Characters" type="number">
        </mat-form-field>
        <button id="decodeButton" mat-button (click)="generatePassword(stringInput.value, numOfChars.value)">Generate Password</button>
      
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div id="outputContainer">
          <textarea readonly matInput innerText="{{outputStr}}"></textarea>
        </div>
    </div>
  </div>
  