:host{
  position: relative;
  top: 75px;
}

.cardsContainer{
    margin: auto;
    padding: 6em 0em 1em 0em;
}

/* Distance between columns */
.row div {
    padding: 0px;
  }

  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  