<!-- <div class="container">
    <app-header-bar></app-header-bar>
    <div class="headerImageContainer">
        <button class="btn" onclick="location.href = '/register';">Get Started</button>
    </div>

    <div class="segment container">
        <div class="row mediumHeadingPadding">
            <h2 class="textCenter">How it Works?</h2>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img style="height: 100px;display: block; margin: 0 auto" class="img-responsive" src="img/icons/signup-03.png"
                    alt="">
                <h2 style="font-weight: 600">Join</h2>
                <p style="font-weight: 600">Highlight interests to receive curated challenges and learning resources</p>
            </div>
            <div class="col-sm-3">
                <img style="height: 100px;display: block; margin: 0 auto" class="img-responsive" src="img/icons/learning-03.png"
                    alt="">
                <h2 style="font-weight: 600">Learn</h2>
                <p style="font-weight: 600">Participate in tutorials, access webinars and attend real time learnups for a holistic learning experience.</p>
            </div>
            <div class="col-sm-3">
                <img style="height: 100px;display: block; margin: 0 auto" class="img-responsive" src="img/icons/challenge-03.png"
                    alt="">
                <h2 style="font-weight: 600">Compete</h2>
                <p style="font-weight: 600">Solve problems, form communities of self minded individuals and tackle challenge-based activities for immediate
                    rewards.
                </p>
            </div>
            <div class="col-sm-3">
                <img style="height: 100px;display: block; margin: 0 auto" class="img-responsive" src="img/icons/trophy-03.png"
                    alt="">
                <h2 style="font-weight: 600">Stand out</h2>
                <p style="font-weight: 600">Lucrative job offers, handsome cash payouts, peer recognition and bragging rights are all yours for the taking!</p>
            </div>
        </div>

    </div>
    <div class="segment container greyBackground">
        <div class="row mediumHeadingPadding">
            <h2 class="textCenter">We are creating a Differnece. </h2>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 textCenter">
                <div>
                    <i class="fa fa-users features-icon"></i>
                    <h2>
                        <span class="timer count-title">250,000</span>+</h2>
                    <p style="text-transform: uppercase">community members</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 textCenter">
                <div>
                    <i class="fa fa-users features-icon"></i>
                    <h2>
                        <span class="timer count-title">250,000</span>+</h2>
                    <p style="text-transform: uppercase">community members</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 textCenter">
                <div>
                    <i class="fa fa-users features-icon"></i>
                    <h2>
                        <span class="timer count-title">250,000</span>+</h2>
                    <p style="text-transform: uppercase">community members</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 textCenter">
                <div>
                    <i class="fa fa-users features-icon"></i>
                    <h2>
                        <span class="timer count-title">250,000</span>+</h2>
                    <p style="text-transform: uppercase">community members</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 textCenter">
                <div>
                    <i class="fa fa-users features-icon"></i>
                    <h2>
                        <span class="timer count-title">250,000</span>+</h2>
                    <p style="text-transform: uppercase">community members</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 textCenter">
                <div>
                    <i class="fa fa-users features-icon"></i>
                    <h2>
                        <span class="timer count-title">250,000</span>+</h2>
                    <p style="text-transform: uppercase">community members</p>
                </div>
            </div>


        </div>
    </div>

    <div class="segment container">
        <div class="row mediumHeadingPadding">
            <h2 class="textCenter">How it Works?</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="../images/data_matrix.jpg">

                    <div class="card-block">
                        <h4 class="card-title">Affinity Matrix Tabular Report</h4>
                        <div class="card-text">
                            This is an Affinity based Tabular report to help you understand the Affinity of customers towards your Products.
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info btn-sm" onclick="document.location.href='http://localhost:8080/webapp/views/data_report_view.html'">Go</button>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="../images/heat_map.jpg">

                    <div class="card-block">
                        <h4 class="card-title">Affinity Heat Map</h4>
                        <div class="card-text">
                            This is an Affinity based Heat map which will help you understand the Afinity for each of your products in the market.
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info btn-sm" onclick="document.location.href='http://localhost:8080/webapp/views/heat_map_view.html'">Go</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="segment greyBackground">
        <div class="row mediumHeadingPadding">
            <h2 class="textCenter">In Short</h2>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p class="textCenter" style="color: #676a6c">We are all capable of so much. So much more than what a CV might say about us. Given the right platform,
                    each of us can shine, impress, create and innovate.</p>
                <p style="color: #676a6c" class="textCenter">Welcome to Skillenza. The one platform created on unearth true potential and helping you showcase your best
                    abilities. On Skillenza you can put your best foot forward through carefully curated content and challenges
                    and have access to the hottest jobs in the market. </p>
                <button class="btn btn-primary blockCenter">Start Now</button>
            </div>
        </div>
    </div>

    <app-footer-bar></app-footer-bar>

</div> -->
<p>home works</p>